/* ================= SECTION BASE ================= */

.about-section {
  padding: 40px 20px 20px 20px;
  margin-bottom: 50px;
  font-family: 'Inter', sans-serif;
}

.about-container {
  max-width: 1250px;
  margin: 0 auto;
}

/* ================= BIG HEADING ================= */

.about-heading {
  margin-bottom: 60px;
}



.about-heading h2 {
   font-size: 54px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -1px;
  max-width: 890px;
  background: linear-gradient(
    135deg,
    #2b2b2b 0%,
    #6f6f6f 40%,
    #f5f5f5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.about-heading .muted {
  color: #b5b5b5;
  font-weight: 400;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

/*Left side */

.about-intro {
  max-width: 500px;
   margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.about-body {
  max-width: 500px;
  font-weight: 600;
  color: #666;
  line-height: 1.6;
  margin-bottom: 40px;
}

.about-pricing {
  display: flex;
  align-items: center;
  gap: 30px;
}

.price span {
  font-weight: 600;
  display: block;
  font-size: 14px;
  color: #777;
}

.price strong {
  display: block;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;
  background: linear-gradient(
    135deg,
    #2b2b2b 0%,
    #6f6f6f 50%,
    #f5f5f5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.about-btn {
  background: #111;
  color: #fff;
  opacity: 0.8;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.about-btn:hover {
  opacity: 0.85;
}


.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-list li {
  font-weight: 600;
  padding: 15px 0;
  border-bottom: 1px solid #e1e1e1;
  font-size: 15px;
  position: relative;
  padding-left: 30px;
}

.about-list li::before {
  content: "→";
  position: absolute;
  left: 0;
  color: #777;
}


@media (max-width: 1024px) {

  .about-heading h2 {
    font-size: 48px;
  }

  .about-content {
    gap: 50px;
  }
}

@media (max-width: 768px) {

  .about-heading h2 {
    font-size: 34px;
  }

  .about-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .about-section {
    padding: 80px 20px;
  }

  .about-pricing {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}