.hero {
  padding: 20px 20px 40px;
  max-width: 1300px;
  margin: 0 auto;
}

.hero-top {
  display: flex;
  justify-content: center;
}


.hero-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 610px;
  margin-bottom: 20px;
  margin-right: 70px;
}

.hero-title .line {
  display: block;
  overflow: hidden;
}

.hero-title .line span {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1s cubic-bezier(.16,1,.3,1),
              opacity 1s cubic-bezier(.16,1,.3,1);
}

.hero-title.reveal .line span {
  transform: translateY(0);
  opacity: 1;
}

.hero-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-image-wrapper {
  position: relative; 
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  height: 70vh;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.09);
  z-index: 1;
}

.hero-image-text {
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 2;
  color: white;
  max-width: none;
  width: auto;
  white-space: nowrap;
}

.hero-image-text h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  opacity: 0.7;
}

.hero-image-text p {
  margin: 0;
  font-size: 16px;
  opacity: 0.5;
}

.rotating-text {
  position: relative;
  height: 42px;
}

#changing-text {
  position: absolute;
  transition: 
    transform 0.6s cubic-bezier(.16,1,.3,1),
    opacity 0.4s ease;
}




/* Ultra-wide screens */
@media (min-width: 1800px) {
  .hero {
    max-width: 1300px;
  }

  .hero-image-wrapper {
    height: 40vh;
    border-radius: 32px;
  }

  .hero-image-text h2 {
    font-size: 22px;
  }

  .hero-image-text p {
    font-size: 16px;
  }
}


/* LARGE DESKTOP (1400px and down)*/
@media (max-width: 1400px) {
    .hero {
    padding: 10px 20px 80px;
  }

  .hero-image-text h2 {
    font-size: 22px;
  }

  .hero-image-text p {
    font-size: 16px;
  }
}


/* DESKTOP (1200px and down) */
@media (max-width: 1200px) {
  /* Standard laptops */
}


/* SMALL DESKTOP / LARGE TABLET (1024px and down) */
@media (max-width: 1024px) {
  .hero-image-wrapper {
  height: 40vh;
}

.hero-title {
    font-size: 23px;
    margin-right: 0px;
  }

  .hero {
    padding: 20px 20px 20px;
  }
}


/* Ipad Pro */
@media (max-width: 900px) {
  .hero-title {
    font-size: 20px;
    margin-right: 0px;
    margin-left: 40px;
  }

  .hero {
    padding: 20px 20px 20px;
  }
    .hero-image-wrapper {
    height: 40vh;
  }

   .hero-top {
    grid-template-columns: 1fr;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}


/* Ipad Mini */
@media (max-width: 768px) {
  .hero {
    padding: 20px 20px 20px;
  }

  .hero-top {
    grid-template-columns: 1fr;
    margin-top: 0px;
  }

  .hero-title {
    font-size: 22px;
    margin-right: 0px;
    margin-left: 25px;
  }

  .hero-image-wrapper {
  height: 40vh;
}
 .hero-top {
    grid-template-columns: 1fr;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}


/* LARGE MOBILE (600px and down) */
@media (max-width: 600px) {
  /* Large phones */
}


/* MOBILE (480px and down) */
@media (max-width: 480px) {
  .hero-image-wrapper {
  height: 70vh;
}

.hero-top {
    grid-template-columns: 1fr;
    margin-top: 70px;
    margin-bottom: 10px;
  }

.hero-title {
    font-size: 21px;
    margin-right: 0px;
    margin-left: 0px;
  }
}


/* SMALL MOBILE (375px and down) */
@media (max-width: 375px) {
   .hero {
    padding: 20px 20px 40px;
  }

  .hero-top {
    grid-template-columns: 1fr;
    margin-top: 70px;
    margin-bottom: 10px;
  }

  .hero-title {
    font-size: 21px;
    margin-right: 0px;
  }
  
.hero-image-wrapper {
  height: 70vh;
}
}